html {
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

#piano {
  background-color: #00471B;
  width: 967px;
  height: 300px;
  border-radius: 10px;
  margin: 100px auto;
  padding: 50px 20px 20px 20px;
}

#keys-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px auto auto;
  overflow: hidden;
  background-color: #040404;
  width: 927px;
  height: 200px;

}


.key {
  position: relative;
  width: 41px;
  height: 100%;
  background-color: #FFFFFF;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.key.black-key::before {
  /*Absolute positioning changes the display for inline / inline-block to block*/
  position: absolute;
  left: -17px;
  content: "";
  background-color: #1d1e22;
  height: 60%;
  width: 32px;
}



/*TODO: Make the page responsive*/

